.modal.transport-modal.full-screen
  form(name="form")
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-label="Close", ng-click="$hide()")
            span(aria-hidden="true") &times;
          h4.modal-title #{__('Travel details')}
        .modal-body
          .form-group.flex-form-group.full-width
            .field-name.field-label #{__('Project')}
            .fg-line
              input.input.form-control(disabled type='text', ng-model="$ctrl.travel['project-id']")
          .form-group.flex-form-group.full-width
            .field-name.field-label #{__('Start date')}
            .fg-line
              input.input.form-control.from-date(disabled type='text', ng-model="$ctrl.travel['start-date']", autoclose="1", start-week="1", date-format="yyyy/MM/dd", placeholder=__('Start date'), ng-change="ctrl.onStartDateChange()", bs-datepicker)
            .separator
          .form-group.flex-form-group.full-width
            .field-name.field-label #{__('End date')}
            .fg-line
              input.input.form-control.to-date(disabled type='text', ng-model="$ctrl.travel['end-date']", autoclose="1", start-week="1", date-format="yyyy/MM/dd", placeholder=__('End date'), ng-change="ctrl.onEndDateChange()", bs-datepicker)
            .separator
          .form-group.flex-form-group.full-width
            .field-name.field-label #{__('Address')}
            .fg-line
              input.input.form-control(disabled type='text', ng-model="$ctrl.travel.address", placeholder=__('Address'))
            .separator
          .form-group.flex-form-group.full-width
            .field-name.field-label #{__('Road transport')}
              label.travel-road.checkbox.checkbox-inline
                input(disabled type="checkbox", ng-model="$ctrl.travel.road")
                i.input-helper

        .modal-footer.flex
          .flex-vertical-centered.flex-end
            button.btn.btn-link(type="button", ng-click="$hide()")
              | #{__('Close')}
