.row.flex-vertical-centered(ng-click="$ctrl.onTaskClick()")
  .avatar
    esn-avatar(user-email="::$ctrl.task.enquirer")
  .col-xs-4.lv-title
    h5.ellipsis &#35;{{::$ctrl.task["request-id"]}} - {{::$ctrl.task["project-id"]}}
  .col-xs-4.ellipsis.p-0
    .date From {{ ::$ctrl.task["start-date"] | amDateFormat:'YYYY/MM/DD' }} to {{ ::$ctrl.task["end-date"] | amDateFormat:'YYYY/MM/DD' }}
  .col-xs-4.lv-title.ellipsis
    .current-step(ng-if="$ctrl.task['current-step'] === 'manager-validation'")
      span.type.label.label-primary #{__('Under management validation')}
    .current-step(ng-if="$ctrl.task['current-step'] === 'board-validation'")
      span.type.label.label-primary #{__('Under board validation')}
    .current-step(ng-if="$ctrl.task['current-step'] === 'transportBooking'")
      span.type.label.label-primary #{__('Booking transport')}
    .current-step(ng-if="$ctrl.task['current-step'] === 'transmitTravellingTickets'")
      span.type.label.label-primary #{__('Transmit travelling tickets')}
    .current-step(ng-if="$ctrl.task['current-step'] === 'hotelBooking'")
      span.type.label.label-primary #{__('Needs hotel booking')}
.lv-actions.actions
  a(href="", data-toggle="dropdown", aria-expanded="false")
    i.mdi.mdi-dots-vertical
  ul.dropdown-menu.dropdown-menu-right
    li
      a(href="", ng-click="$ctrl.onTaskClick()") #{__('Show details')}
    li(ng-if="$ctrl.task['current-step'] === 'manager-validation'")
      a(href="", ng-click="$ctrl.managerValidation()") #{__('Validate')}
    li(ng-if="$ctrl.task['current-step'] === 'board-validation'")
      a(href="", ng-click="$ctrl.boardValidation()") #{__('Validate')}
    li(ng-if="$ctrl.task['current-step'] === 'transportBooking'")
      a(href="", ng-click="$ctrl.bookTransport()") #{__('Book transport')}
    li(ng-if="$ctrl.task['current-step'] === 'transmitTravellingTickets'")
      a(href="", ng-click="$ctrl.transmitTravellingTickets()") #{__('Transmit tickets')}
    li(ng-if="$ctrl.task['current-step'] === 'hotelBooking'")
      a(href="", ng-click="$ctrl.bookHotel()") #{__('Book hotel')}
