.modal.transport-modal.full-screen
  form(name="form", ng-submit="$ctrl.create(); $hide()")
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-label="Close", ng-click="$hide()")
            span(aria-hidden="true") &times;
          h4.modal-title #{__('New travel')}
        .modal-body
          .form-group.flex-form-group.full-width
            .field-name.field-label #{__('Project')}
            .fg-line
              md-input-container
                md-select(required, ng-model="$ctrl.travel.projectId")
                  md-option(ng-value="project.id" ng-repeat="project in $ctrl.projects") {{ project.id }} - {{ project.name }}
          .form-group.flex-form-group.full-width
            .field-name.field-label #{__('Start date')}
            .fg-line
              input.input.form-control.from-date(required, type='text', ng-model="$ctrl.travel.start", autoclose="1", start-week="1", date-format="yyyy/MM/dd", placeholder=__('Start date'), ng-change="ctrl.onStartDateChange()", bs-datepicker)
            .separator
          .form-group.flex-form-group.full-width
            .field-name.field-label #{__('End date')}
            .fg-line
              input.input.form-control.to-date(required, type='text', ng-model="$ctrl.travel.end", autoclose="1", start-week="1", date-format="yyyy/MM/dd", placeholder=__('End date'), ng-change="ctrl.onEndDateChange()", bs-datepicker)
            .separator
          .form-group.flex-form-group.full-width
            .field-name.field-label #{__('Address')}
            .fg-line
              input.input.form-control(required, type='text', ng-model="$ctrl.travel.address", placeholder=__('Address'))
            .separator
          .form-group.flex-form-group.full-width
            .field-name.field-label #{__('Travel mode')}
            .fg-line
              md-input-container
                md-select(required, ng-model="$ctrl.travelMode")
                  md-option(ng-value="mode" ng-repeat="mode in $ctrl.travelModes") {{ mode }}

        .modal-footer.flex
          .flex-vertical-centered.flex-end
            button.btn.btn-link(type="button", ng-click="$hide()")
              | #{__('Cancel')}
            button.btn.btn-primary(type="submit", ng-disabled="form.$invalid || form.$pending")
              | #{__('Create')}
